<!DOCTYPE html>
<html>

	<!-- {{> header }} -->
<head>
		<meta charset="utf-8">
		<!-- <title>{{title}}</title> -->
</head>

<body>
	<h1>About me</h1>
	<p>Name: Michael </p>
	<p>School: BCIT </p>
	<p>Course: NodeJS</p>
</body>
	<!-- use helper to return currency -->
	<!-- looks for partial notation -->
	<!-- {{> footer}} -->

</html>