  <!-- Footer -->
    <footer class="navbar navbar-light footer">
      <div class="container">
        <div class="row m-auto">
          <div class="col-3 col-md-3">
            <a class="navbar-brand" target="_blank" href="https://github.com/JosephGotengco/StockExchangeApplication/tree/master">
              <i class="fab text-light fa-github fa-1x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" target="_blank" href="https://www.instagram.com/lifeatbcit/?hl=en">
              <i class="fab text-light fa-instagram fa-1x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" target="_blank" href="https://www.bcit.ca/">
              <i class="fab text-light fa-linkedin fa-1x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" target="_blank" href="https://www.google.com/maps/place/BCIT+Downtown+Campus/@49.2834511,-123.1174435,17z/data=!3m1!4b1!4m5!3m4!1s0x54867178c6f02ee1:0xb4e03bf432e66714!8m2!3d49.2834511!4d-123.1152548">
              <i class="fas text-light fa-map-marked-alt fa-1x "></i>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <p class="m-auto copyright">
          © 2019 Copyright:<strong> <a href="https://github.com/JosephGotengco/StockExchangeApplication/tree/master" target="_blank">Stock Trader </a></strong>All Rights Reserved
        </p>
      </div>

    </footer>
