
  <!-- Footer -->
  <div class="footer-margin">
    <footer class="navbar navbar-dark bg-dark fixed-bottom">
      <div class="container">
        <div class="row m-auto">
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="https://github.com/JosephGotengco/StockExchangeApplication/tree/master">
              <i class="fab fa-github fa-1x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="https://www.instagram.com/officiallyshrek/?hl=en">
              <i class="fab fa-instagram fa-1x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="https://www.instagram.com/officiallyshrek/?hl=en">
              <i class="fab fa-linkedin fa-1x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="https://www.instagram.com/officiallyshrek/?hl=en">
              <i class="fas fa-map-marked-alt fa-1x "></i>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <p class="m-auto copyright">
          © 2019 Copyright:<strong> <a href="https://www.instagram.com/officiallyshrek/?hl=en">Stock Trader </a></strong>All Rights Reserved
        </p>
      </div>

    </footer>
  </div>