    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm nav-color">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a class="navbar-brand" href="/trading-success">
                <i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
                STOCK NAME
            </a>

        </h5>

        <nav class="my-2 my-md-0 mr-md-3 nav-pills">
            <a class="p-2 text-light" href="/trading-success">Trading</a>
            <a class="p-2 text-light" href="/trading-portfolio">Portfolio</a>
			<a class="p-2 text-light" href="/news-hub">Rankings</a>
        </nav>
        <a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign Out</a>
        <a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
    </div>