    <div class="navbar navbar-expand nav-color">
        <h5 class="my-0 push-right font-weight-normal">
            <a class="navbar-brand" href="/trading-success">
                <i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
                STOCK NAME
            </a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3 nav-pills">
            <a class="p-2 text-light" href="/home">Home</a>
            <a class="p-2 text-light" href="/about">About</a>
            <a class="p-2 text-light" href="/login">Sign In</a>
            <a class="p-2 text-light" href="/register">Register</a>
        </nav>
    </div>