<!DOCTYPE html>
<html lang="en">
    
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='testcss.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <!--<link href="../css/style.css" rel="stylesheet" type="text/css">-->

</head>
    
<body>

        <!-- NAV BAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="logo.png" width="115" height="20" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#"></a>
              <a class="nav-item nav-link" href="#">Pricing</a>
            </div>
            <a href="register"><button type="button" class="btn btn-outline-info">Register</button></a>
          </div>
        </nav>

        <!-- Login Form -->
        <div class="defcontent">
            <br>
            <div class='chfont container'>
              <form action ="/login" method="POST">
                <h1>{{title}}</h1>
                    <br>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control border border-right-0" name='username' id="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control border border-right-0" name='password' id="password" placeholder="Password">
                  </div>
                    <input type="submit" class="btn btn-info" value="Login">
                <br><br>
                </form>            
            </div>
        </div>


        <div class="container">
            <p> If you don't have an account <a href="/register">click here</a> to register </p>
        </div>

    <!-- Footer -->
    <footer class="chfont page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="">Stock Trader All Rights Reserved </a>
        </div>
    </footer>

    </body>
</html>