<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="images/icon1.png" />
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    {{!-- <div class="defcontainer">
        <div class="defheader">
        </div>

        <div class="defmenu">
            <div class='list-group'>
                <a href="login" class="list-group-item list-group-item-info">Login</a>
                <a href="register" class="list-group-item">Registration</a>
                <a href="trading" class="list-group-item">Trading</a>
                <a href="admin" class="list-group-item">Admin Panel</a>
            </div>
        </div>

        <div class="defcontent">
            <br>
            <div class='chfont container'>

                <form method="POST">

                    <br>

                    <form action="/login" method="POST">
                        <p>{{title}}</p>

                        <br>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Username</label>
                            <input type="text" class="form-control" name='username' id="username"
                                placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Password</label>
                            <input type="password" class="form-control" name='password' id="password"
                                placeholder="Password">
                        </div>
                        <input type="submit" class="btn btn-secondary" value="Login">
                        <br><br>
                    </form>
                    <div id='submission'></div>
            </div>
        </div>
        <footer class="chfont page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="">Stock Trader</a> All Rights Reserved
            </div>
        </footer>
    </div> --}}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">
            <i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
            Name Stock
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="trading">Trading</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-margin">
        <div class="container-fluid d-flex">
            <div class="m-auto">
                <form action="/login" method="POST">
                    <h1 class="title">{{title}}</h1>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Username</label>
                        <input type="text" class="form-control" name='username' id="username" placeholder="Username">
                        <small id="emailHelp" class="form-text text-danger">We'll never share your account with
                            anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="password" class="form-control" name='password' id="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="check1">
                        <label class="form-check-label" for="check1">Check me out</label>
                    </div>
                    <input type="submit" class="btn btn-secondary" value="Login">
                </form>
                <div id='submission'></div>
            </div>
        </div>
    </div>


    <footer class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container">
            <div class="row m-auto">
                <div class="col-3 col-md-3">
                    <a class="navbar-brand" href="#">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="col-3 col-md-3">
                    <a class="navbar-brand" href="#">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
                <div class="col-3 col-md-3">
                    <a class="navbar-brand" href="#">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
                <div class="col-3 col-md-3">
                    <a class="navbar-brand" href="#">
                        <i class="fas fa-map-marked-alt fa-2x "></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="m-auto copyright">
            © 2019 Copyright:<strong> <a href="#">Stock Trader </a></strong>All Rights Reserved
        </p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>