<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/test.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>index</title>

</head>

<body login>



    <!-- <div class="wrapper">
        <video autoplay loop muted>
            <source src="./video/2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="index-overlay"></div> -->


    <!-- <div class="index-overlay"></div> -->
    <div class="d-flex h-100">
        <div class="m-auto">
            <div class="jumbotron login">
                <h1 class="title">{{title}}</h1>
                <div class="container-fluid d-flex">
                    <div class="m-auto">
                        <form action="/login" method="POST">
                            <br>
                            <br>
                            <div class="form-group">
                                <i class="fas fa-user"></i>
                                <label for="exampleFormControlInput1">Username</label>
                                <input type="text" class="form-control" name='username' id="username"
                                    placeholder="Username">
                            </div>
                            <div class="form-group">
                                <i class="fas fa-lock"></i>
                                <label for="exampleFormControlInput1">Password</label>
                                <input type="password" class="form-control" name='password' id="password"
                                    placeholder="Password">
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success" value="Login">
                            </div>
                            <br>
                            <p>Not registered? <a href="#">Create an account</a></p>
                        </form>
                        <div id='submission'></div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>