<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Name | Password Reset</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<style>
    .content-wrapper {
        height: 100vh;
    }

    .reset-password-wrapper {
        width: 35%;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        outline: 0 none;
    }

    @media (max-width: 900px) {
        .small-screen-form {
            width: 100%;
        }
    }
</style>

<body>
    {{> loggedOutNavbar}}
    <div class="content-wrapper d-flex">
        <div class="w-100 d-flex text-xs-center justify-content-center align-items-center">
            <div class="small-screen-form container reset-password-wrapper text-center">
                <h1><i class="far fa-chart-bar pr-2"></i>STOCK NAME</h1>
                <div class="card text-left">
                    <div class="card-body">
                        <div class="card-title"><i class="far fa-user pr-2"></i>Password Reset</div>
                        <div class="card-body pl-0">
                            <p>
                                To reset your password, enter your username below and click the Reset Password button.
                                An email will be sent to you with instructions about how to complete the process.
                            </p>
                            <hr>
                            <form>
                                <input class="form-control" type="text" id="recoveryUsername"
                                    placeholder="Enter Username">
                                <br>
                                <button type="button" class="btn btn-success" id="submitUsernameButton">Reset
                                    Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $("#submitUsernameButton").click(function (e) {
        e.preventDefault();
        submitForm();
    });

    $(document).on('keypress', function(e) {
        if(e.which == 13) {
            e.preventDefault();
            submitForm();
        }
    });

    function submitForm() {
        var username = $("#recoveryUsername").val();
        var query = {
            "recoveryUsername": username
        };

        $.ajax({
            url: "/reset/password",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(query),
            contentType: "application/json",
            cache: false,
            timeout: 5000,
            complete: function () {
                console.log("complete");
            },

            success: function (data) {
                console.log(data);
                console.log("success");

            },

            error: function () {
                console.log("error");
            }
        });
    }
</script>

</html>