<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Name | Password Recovery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/bootstrap/tabulator_bootstrap4.min.css"
        rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.4/dist/js/tabulator.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/css/style.css'>
    <style>
        .content-wrapper {
            height: 100vh;
        }

        .reset-password-wrapper {
            width: 35%;
        }

        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus {
            border-color: rgba(126, 239, 104, 0.8);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
            outline: 0 none;
        }

        @media (max-width: 900px) {
            .small-screen-form {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    {{> loggedOutNavbar}}
    <div class="content-wrapper d-flex">
        <div class="w-100 d-flex text-xs-center justify-content-center align-items-center">
            <div class="small-screen-form container reset-password-wrapper text-center">
                <h1><i class="far fa-chart-bar pr-2"></i>STOCK NAME</h1>
                <div class="card text-left">
                    <div class="card-body">
                        <div class="card-title"><i class="far fa-user pr-2"></i>Password Reset</div>
                        <div class="card-body pl-0">
                            <p>
                                To reset your password, enter your new password below and enter it again to confirm it.
                                After, click Reset Password to reset your password and receive a notification email that your password
                                has been reset will be sent.
                            </p>
                            <hr>
                            <form>
                                <input class="form-control" type="text" id="passwordResetInput"
                                    placeholder="New Password">
                                <br>
                                <input class="form-control" type="text" id="confirmPasswordResetInput"
                                    placeholder="Confirm New Password">
                                <br>
                                <button type="button" class="btn btn-success" id="submitPasswordButton">Reset
                                    Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="response-modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="response-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $("#submitPasswordButton").click(function (e) {
        e.preventDefault();
        submitForm();
    });

    $(document).on('keypress', function(e) {
        if(e.which == 13) {
            e.preventDefault();
            submitForm();
        }
    });

    function submitForm() {
        var new_password = $("#passwordResetInput").val();
        var new_confirm_password = $("#confirmPasswordResetInput").val();
        var url = window.location.href;
        var split_url = url.split("/");
        var token = split_url[split_url.length-1];
        var query = {
            new_password: new_password,
            new_confirm_password, new_confirm_password,
            token: token
        };


        $.ajax({
            url: window.location.href,
            type: "POST",
            dataType: "json",
            data: JSON.stringify(query),
            contentType: "application/json",
            cache: false,
            timeout: 5000,
            complete: function () {
                console.log("complete");
            },

            success: function (data) {
                console.log(data);
                console.log("success");
                $("#response-modal-body").empty();
                $("#response-modal-body").append("<p>" + data.msg + "</p>");
                $("#response-modal").modal('toggle');
            },

            error: function () {
                console.log("error");
            }
        });
    }
</script>
</html>