<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{display}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>


  {{!-- NavBar --}}
  {{> loggedOutNavbar}}

  <!-- Registeration Form -->
  <div class="content-margin footer-spacer">
      <h1 class="title">{{title}}</h1>
    <div class="container-fluid d-flex">
      <div class="m-auto">
        <form action="/register" method="POST">
          <br>
          <br>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" name='firstname' id="firstname"
                placeholder="First name must be 3-30 characters long and must only contain letters.">
            </div>
            <div class="form-group col-md-12">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" name='lastname' id="lastname"
                placeholder="Last name must be 3-30 characters long and must only contain letters.">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="username">Username</label>
              <input type="text" class="form-control" name='username' id="username"
                placeholder="Username must have 5-15 characters and may only be alphanumeric.">
            </div>
            <div class="form-group col-md-12">
              <label for="password">Password</label>
              <input type="password" class="form-control" name='password' id="password"
                placeholder="Password must have 5-15 characters and may only be alphanumeric.">
            </div>
            <div class="form-group col-md-12">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" class="form-control" name='confirm_password' id="confirm_password"
                placeholder="Confirm Password">
            </div>
          </div>
          <input type="submit" class="btn btn-secondary" value="Register">
          </button>
        </form>
        <div id='submission'></div>
      </div>
    </div>
  </div>

  <!-- Footer -->
 {{> footer}}


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type='text/javascript' src='bundle_1.js'></script>
</body>

</html>