<!DOCTYPE html>
<html lang="en">
    
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='testcss.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="images/icon1.png" />   

</head>
    
<body>

    <div class="defcontainer">
        <div class="defheader">

        </div>
        
        <div class="defmenu">
            <div class='list-group'>
                <a href="logout" class="list-group-item">Logout</a>
                <a href="registration-logged-in" class="list-group-item">Registration</a>
                <a href="trading-success" class="list-group-item list-group-item-info">Trading</a>
                <a href="admin-success" class="list-group-item">Admin Panel</a>
            </div>
        </div>
        
        <div class="defcontent">
            <br>
            <div class='chfont container'>
                
                <p class="font-italic">Please note all prices are in USD.</p>
                <p class="font-weight-bold">{{title}}</p>
                <p class="font-weight-bold">{{head}}</p>

                    <br>

                  <div class="form-group btn-group">
                <form action="/trading-success-search" method="POST">
                    <label for="stocksearch">Stock Search Price</label>
                    <input type="text" class="form-control" name='stocksearch' id="stocksearch" placeholder="Stock Ticker e.g. TSLA">
                    <p>&nbsp;</p>
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
                
                </div>

                  <p>&nbsp;</p>

                <form action="/trading-success-buy" method="POST">
                  <div class="row">
                    <div class="col">
                        <label for="stocksearch">Buy Stock</label>
                      <input type="text" class="form-control" name="buystockticker" id="buystockticker" placeholder="Enter Stock Ticker e.g FB">
                    </div>
                    <div class="col">
                        <label for="stocksearch">Quantity</label>
                      <input type="number" class="form-control" name="buystockqty" id="buystockqty" placeholder="Enter Stock Ticker e.g FB">
                    </div>
                  </div>
                  <p>&nbsp;</p>
                  <button type="submit" class="btn btn-primary">Buy</button>
                </form>

                <p>&nbsp;</p>
                <form action="/trading-success-sell" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="stocksearch">Sell Stock</label>
                      <input type="text" class="form-control" name="sellstockticker" id="sellstockticker" placeholder="Enter Stock Ticker e.g FB">
                    </div>
                    <div class="col">
                        <label for="stocksearch">Quantity</label>
                      <input type="number" class="form-control" name="sellstockqty" id="sellstockqty" placeholder="Enter Stock Ticker e.g FB">
                    </div>
                  </div>
                  <p>&nbsp;</p>
                  <button type="submit" class="btn btn-primary">Sell</button>
                  </form>

                    <p>&nbsp;</p>

                <form action="/trading-success-holdings" method="POST">
                <label for="stockholdings"></label>

                <input type="submit" class="btn btn-primary" value="Show Stocks and Cash Amount">

                </form>

            </div>
                
                <br>
                    

                <br><br>

                </form>

            </div>

        </div>
        <footer class="chfont page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="">Stock Trader</a>  All Rights Reserved

        </footer>
    </div> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>