@import url("https://fonts.googleapis.com/css?family=Quantico");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  font-family: "Quantico", sans-serif;
  overflow-x: hidden;
}

.content-margin {
  margin-top: 75px;
}

.tabs {
  height: 100vh;
}
.nav-margin {
  margin-bottom: 75px;
}

.nav-margin-trading {
  margin-bottom: 35px;
}

.title {
  text-align: center;
  font-size: 20px;
}

.footer-margin {
  height: 150px;
}

.copyright {
  color: white;
  font-size: 12px;
}

.content {
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-login-msg {
  width: 50%;
}

.nav-color {
  background-color: #272727;
}

.footer {
  background-color: #272727;
}

.footer-spacer {
  margin-bottom: 200px;
}

.tabulator .tabulator-tableHolder {
  overflow: hidden !important;
}

canvas {
  width: 100px;
}

.one {
  background-color: pink;
}

.two {
  background-color: red;
}

.three {
  background-color: green;
}

.tab-content {
  min-height: 90vh;
}

.trend-img {
  height: 25px;
  width: 30px;
}

.bg-white {
  background-color: #eee;
}

.login-btn {
  width: 100%;
}

.login-padding {
  padding-top: 10px;
}

lable:before {
  content: "\f070";
  color: #aaa;
  font-size: 22px;
  font-family: FontAwesome;
  position: absolute;
  right: 25px;
  top: 44px;
}

.progress-bar_wrap {
  width: 300px;
  height: 5px;
  background: #f6f6fa;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}

.form-group-pwd .progress-bar_item {
  display: inline-block;
  height: 100%;
  width: 33.33%;
  float: left;
  visibility: hidden;
  transition: background-color 0.2s, visisility 0.1s;
}

.form-group-pwd .active {
  visibility: visible;
}

.progress-bar_item-1 {
}

.progress-bar_item-2 {
}

.progress-bar_item-3 {
}

.progress-bar_text {
  display: inline-block;
  color: #aaa;
  margin-left: 5px;
  transition: 0.2s;
}

.btn-default {
  border: 1px lightgray solid;
}

.ranking-right {
  margin-right: 10px;
}

.fa-bars {
  color: white;
  font-size: 1.5em;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .md-space {
    height: 40px;
    margin: 10px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .md-space {
    height: 40px;
    margin: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .md-space {
    height: 40px;
    margin: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

select {
  width: 100%;
}


.content-margin {
  min-height: calc(100vh - 0.25rem);
}

.push-right {
  margin-right: auto;
}

.cell-width {
  min-width: 100px;
}

.balance {
  max-width: 400px;
  overflow-x: hidden;
}

.modal-open {
  overflow: scroll;
}
