@import url('https://fonts.googleapis.com/css?family=Quantico');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    height: 100%;
    font-family: 'Quantico', sans-serif;
    overflow-x: hidden;
}

.content-margin {
    margin-top: 75px;
}

/* form {
    width: 100%;
} */

.nav-margin {
    margin-bottom: 75px;
}

.nav-margin-trading {
    margin-bottom: 35px;
}

.title {
    text-align: center;
    font-size: 20px;
}



.footer-margin {
    height: 150px;
}

.copyright {
    color: white;
    font-size: 12px;
}


.content {
    display: flex;
    height: 65vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.not-login-msg {
    width: 50%;
}

.nav-color {
    background-color: #272727;
}

.footer {
    background-color: #272727;
}



.footer-spacer {
    margin-bottom: 200px;
}

.tabulator .tabulator-tableHolder{
    overflow: hidden !important;
}