.button-container {
    width: 100px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.left-line {
    border-left: 1px dashed #333;
}

.pointer:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .left-line {
        border-left: 1px none #333;
        border-bottom: 1px dashed #333;
    }
    .no-border-bottom {
        border-bottom: 1px none #333;
    }

    .remove-on-small-screen {
        display: none;
    }
}