<!DOCTYPE html>
<html>

	{{> header }}
<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
</head>

<body>
	<h1>This is the currency converter</h1>
<!-- 	<p>Name: Michael </p>
	<p>School: BCIT </p>
	<p>Course: NodeJS</p> -->
	<p>$ {{exchange}}</p>
</body>

	<!-- looks for partial notation -->
	{{> footer}}

</html>